:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f4266;
  --color-grey: #2e2f42b3;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  background-color: var(--color-white);
  color: var(--color-slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.logo {
  color: var(--color-iris);
  font-family: "Raleway", sans-serif;
}

.footer .logo-span {
  color: var(--color-cloud);
}

.logo-span {
  color: var(--color-navy-blue);
}

.list {
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
}

.hero {
  background-color: var(--color-navy-blue);
}

.hero-title {
  color: var(--color-white);
  font-size: 56px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.button-order {
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.header-two {
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.header-three {
  color: var(--color-navy-blue);
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.team {
  background-color: var(--color-cloud);
}

.footer-text {
  color: var(--color-cloud);
}

.footer {
  background-color: var(--color-navy-blue);
}

.button-text {
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.portfolio-nav {
  list-style: none;
}

.portfolio-list-button {
  cursor: pointer;
  color: var(--color-ocean);
  background-color: var(--color-cloud);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
