:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f4266;
  --color-grey: #2e2f42b3;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* body */

body {
  background-color: var(--color-white);
  color: var(--color-slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* container */
.container {
  width: 1440px;
  padding: 0 156px;
  margin: 0 auto;

  outline: 2px dotted tomato;
}

/* header */

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  gap: 76px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

/* .nav-list-item:not(:last-child) {
  margin-right: 40px;
} */

.header-address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.nav-list-item-link {
  display: block;
  color: var(--color-navy-blue);
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--color-ocean);
}

.contact-link {
  color: var(--color-slate);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-ocean);
}

/* logo */

.logo {
  color: var(--color-iris);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;

  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.logo-span {
  color: var(--color-navy-blue);
}

/* footer */

.footer .logo-span {
  color: var(--color-cloud);
}

.footer-text {
  color: var(--color-cloud);
}

.footer {
  background-color: var(--color-navy-blue);
}

/* list */

.list {
  list-style: none;
  font-style: normal;
}

/* link */

.link {
  text-decoration: none;
}

/* buttons */

.button-order {
  display: block;
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  border: 0;
  width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.button-order:hover,
.button-order:focus {
  background-color: var(--color-ocean);
}

.button-text {
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

/* h1,h2,h3,h4,h5,h6 */

.header-two {
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  margin-top: 0;
}

.header-three {
  color: var(--color-navy-blue);
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin: 0;
}

/* studio elements */

.team {
  background-color: var(--color-cloud);
}

/* hero */

.hero {
  background-color: var(--color-navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: var(--color-white);
  font-size: 56px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 1.12px;
  width: 496px;
  margin: 0 auto;
  text-align: center;
}

/* advantages */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  width: 264px;
}

.advantages-list-title {
  text-transform: capitalize;
  font-size: 20px;
}

.advantages-list-text {
  letter-spacing: 0.32px;
}

/* doing-list */

.doing-list {
  display: flex;
  gap: 24px;
}

.doing-list-item {
  width: 360px;
}

.doing-title {
  text-transform: capitalize;
  text-align: center;
}

/* team elements */

.team-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-item {
  width: 264px;
  padding-bottom: 32px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list-name {
  text-align: center;
  margin-top: 32px;
}

.team-list-job {
  text-align: center;
  margin-top: 8px;
}

/* footer elements */

/* portfolio elements */

.portfolio-nav {
  list-style: none;
}

.portfolio-list-button {
  cursor: pointer;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.portfolio-list-button:hover,
.portfolio-list-button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}

.portfolio-list-item-text {
  color: var(--color-slate);
}
